@CHARSET "UTF-8";

#dispositivos li{
	list-style: none;
	padding: 10px;
	margin: 10px;
	width: 150px;
	min-height: 50px;
	float: left;	
	background-color: gray;
	text-align: center;
}
li{
	list-style: none;
}
soltador{
	//width:40px !important;	
	margin-bottom:50px !important;
}

#listasDispositivo li{
	min-height: 0px;
	margin: 5px 0px;
	
	width:100%;
	padding:0;
	background-color:red;
}

.btndeleteLV{
	float: right !important;
	padding:17px 0;
	width:10% !important;
	//visibility:hidden;
}

#actualiza{
	float:left;
	clear: both;
}
.acciones{
	background-color: transparent;
	float:left;	
}

